/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Variables */
:root{
  --green-color:#7ACC2D;
  --white-color:#fff;
  --black-color:#313337;
/* Tipografia */
  --normal:12px;
  --high: 17px;
  --veryhigh:30px;
/* Espaciado */
  --ten-px:10px;
/* Box shadow */
  --box-shadow:0px 0px 2px 1px #e6e5e9;
}

html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--ten-px);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  box-shadow: -0 1px 4px rgba(0,0,0, .15) ;

}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}


/* Main section */

.main-section {
  padding:8% 25% 15% 25%;
  text-align:center;
}

.main-section h1 {
  font-size:var(--veryhigh);
}

.products{
  background-image:url("https://doc-08-3s-docs.googleusercontent.com/docs/securesc/gtnn1vl3n4gi9kfmmjnvk44hr6ju5tl3/0au9ehsehefvuvnte9r8vu2i6o8qpa0u/1576900800000/17570599958312533166/17570599958312533166/1oFnpZJOeKyMn-w35xmSkCPONBp5IcA5l?authuser=0");
  background-image:url("../images/curve.png");
  height:50px;
  background-size:cover;
  background-position: center top;
  padding:10% 20% ;
  display:flex;
  margin: 0 auto;
  justify-content: center;
}

.product {
  margin-top:-38%;
  padding:var(--ten-px);
}

.product .content {
  background-color: var(--white-color);
  padding:15px;
  box-shadow: var(--box-shadow);
  width:230px;

}

.product .content h2 {
  font-size:var(--high);
}

.img-content {
  text-align:center;
  
}

.main-button {
  background-color: var(--green-color);
  width:100%;
  padding:var(--ten-px);
  font-size:var(--high);
  color:var(--white-color);
  border:0;
  cursor:pointer;
  border-radius:var(--ten-px);
  font-weight: 700;
}

.main-button:hover {
  background-color:#5e9e22;

}

.description-content {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:180px 50px 60px 50px;
}

.description {
  width:12%;
  padding: 0 80px;
}

.description h2 {
  font-size: var(--high);
  text-align:center;
  margin-top:30px;
}

.description-image {
  text-align:center;
}

.description-image img {
  width:120px;
}

#image-b1 {
  width:130px;
}

hr {
  border:1px solid rgba(0,0,0,.1);
}